
body
{
        background-color: rgb(253, 242, 225);
        font-family:"Roboto", Sans-serif;
        font-size: 12px;
        margin: 0;
        align-items: end;
}     

        header{
                
                background-color: rgb(241, 194, 202);
                height: 60px;
                padding: 30px;
                display: flex;
                flex-direction: column;
                position: relative;
                justify-content: space-between;

        }
        .nave{
                
                height: 120px;
                margin-top: 10px;
                display: flex;
                justify-content: center;
                
                flex-grow: 10;
        }
        .nav{
                display:flex;
                align-items: end;
                
         }
                #cabecera{
                        align-items: center;
                        display: flex;
                        height: 50px;
                        justify-content: space-between;

                }
                #navegador{
                        
                        display: flex;
                        justify-content: center;
                        padding: 0px 0px;
                        margin: 0px;
                        position: relative;
                }
                #navegador div{
                        background-color: rgb(250, 232, 232);
                        line-height: 40px;
                        font-size: 150%;
                        padding: 0px 20px;
                        margin-top: 20px;
                        
                }
                #regist{
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                }
                #regist a{
                        
                        font-size: 100%;
                        padding: 0px 5px;
                        text-decoration: none;
                        
                }
        main{
                background-color:white ;
                display: block;
        }

        section{
                background-color: rgb(253, 242, 225); 
                font-family:"Roboto", Sans-serif;
                display: flex;
                justify-content:center;
                flex-wrap: wrap;
        }
a{
        
        color:black;
        text-decoration: none;
}        

img{
        
        width: 100%;
        margin-top: 50px;
 }
 
        .logo{
                display: flex;
                width: 100%;
                padding: 0px 0px;
        }
        .flex-container img{
                background-color:black;
                display: flex;
                width: 330px;
                padding: 0px 0px;
        }

        @media only screen and (max-width: 930px) {
                .nav div {
                        flex-direction: column;
                }
                #navegador div{
                        margin: 0% 0%;
                        height: 100%;
                        font-size: 90%;
                        
                }
                .nave{
                  justify-content: start;
                  flex-wrap: wrap;
                       
                }
                #regist{
                        font-size: 80%;
                }
                .logo{
                        width: 280px;
                }
              }

