body{
        font-family:'Roboto' sans-serif;
        background-color: rgb(253, 242, 225); 
        margin: 0;
        align-items: end;
}     

header{
        
        background-color: rgb(241, 194, 202);
        height: 40px;
        padding: 30px;
        display: flex;
        justify-content: space-between;
}
div{
        align-items: center;
        display: flex;
        height: 50px;
}
#registro{
        color:black;
        padding: 14px 20px;
        text-decoration: none;
}
.img{
        /*tamaño img*/
}
#navegador a{
        flex-direction: row;
        font-size: 150%;
        color:black;
        padding: 0px 15px;
        text-decoration: none;

}
#regist a{
        
        flex-direction: row;
        justify-content: space-between;
        font-size: 100%;
        color:black;
        padding: 0px 5px;
        text-decoration: none;
}
section{
        font-family:'Roboto' sans-serif;
        display: flex;
        justify-content: space-between;
        margin: 30px 170px;

}
section > div{
        background-color: #f1f1f1;
        margin: 50px ;
        padding: 120px 70px;
}


